
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HienThi</title>
</head>
<body>
    <div>

        <form action="/TinhTien/Index">
            <table border="1">
                <tr>
                    <td><label for="manv">Mã NV:</label><br></td>
                    <td>
                        @ViewBag.firstname = firstname;

                    </td>
                </tr>
                <tr>
                    <td><label for="ngaycong">Ngày Công:</label><br></td>
                    <td>

                        @ViewBag.lastname = lastname;

                    </td>
                </tr>
                <tr>
                    <td><label for="tienlinh">Tiền Lĩnh:</label><br></td>
                    <td>
                        @ViewBag.email = email;
                    </td>
                </tr>



                <tr>
                    <td><label for="tienlinh">Tiền Lĩnh:</label><br></td>
                    <td>
                        @ViewBag.pass = pass;
                    </td>
                </tr>
                <tr>
                    <td><label for="tienlinh">Tiền Lĩnh:</label><br></td>
                    <td>
                        @ViewBag.diachi = diachi;
                    </td>
                </tr>
                <tr>
                    <td><label for="tienlinh">Tiền Lĩnh:</label><br></td>
                    <td>
                        @ViewBag.gioitinh = gioitinh;
                    </td>
                </tr>


                <tr>
                    <td>    <input type="submit" value="Trở Về"></td>
                    <td>    </td>
                </tr>
            </table>



        </form>
    </div>
</body>
</html>
