
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        <form action="/TinhSo/HienThi">
            <table border="1">
                <tr>
                    <td>@Html.Label(First Name)</td>
                    <td>@Html.TextBox(First_Name)</td>
                </tr>
                <tr>
                    <td>@Html.Label(Last Name)</td>
                    <td>@Html.TextBox(Last_Name)</td>
                </tr>
                <tr>
                    <td>@Html.Label(Email)</td>
                    <td>@Html.TextBox(Email)</td>
                </tr>
                <tr>
                    <td>@Html.Label(Password)</td>
                    <td>@Html.TextBox(Password)</td>
                </tr>
                <tr>
                    @{
                        IEnumerable<string> strList = new List<string> { "Hanoi", "Haiduong", "HaiPhong", "BacGiang"
};
                    }
                    @Html.DropDownList("ddlCourse", new SelectList(strList, strList.FirstOrDefa
                    ult()), "--Select Course--")
                </tr>
                <tr>
                    @Html.RadioButton("Gender", "Male", true) Male
                    @Html.RadioButton("Gender", "Female", false) Female
                </tr>
                <input type="submit" value="Save" >
                
            </table>



        </form>

    </div>
</body>
</html>
