
@model PagedList.IPagedList<WebApplication10.Models.Catalogy>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CatalogyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        <th>
            Ten danh muc
        </th>
        <th>
            Mo ta
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatalogyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CatalogyID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CatalogyID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CatalogyID })
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model,page=>Url.Action("Display", new { page}))
