@model VnSport.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhoHang.ghiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoHang.ghiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiSanPham.loaiSanPham1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.loaiSanPham1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kichThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kichThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chatLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chatLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioiThieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioiThieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaCu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaCu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaMoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaMoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anh1)
        </dt>

        <dd>


            @{
                string ImagePath = "~/image/" + Model.anh1;
            }
            <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" /><br />
            @Html.DisplayFor(model => model.anh1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anh2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anh2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anh3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anh3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maSanPham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
