@model TravelTour.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/share/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
