<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon"
          href="https://www.vietnambooking.com/wp-content/themes/vietnambooking_master/images/favicon.ico" />

    <meta property="fb:app_id" content="197145824384337" />
    <meta property="og:url" itemprop="url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" itemprop="headline" content="  Du lịch giá rẻ" />
    <meta property="og:description" itemprop="description"
          content="Nếu nói đến những điểm du lịch cách Hà Nội khoảng 200 km thì có khá nhiều bãi biển khá đẹp và chất, là lựa chọn lý tưởng dành cho du khách vào những ngày cuối tuần, dịp nghỉ lễ..." />
    <meta property="og:image" itemprop="thumbnailUrl"
          content="https://data.vietnambooking.com/common/logo/banner_logo.jpg" />

    <!-- Twitter Card -->
    <meta name="twitter:card" value="summary" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:title" content="  Du lịch giá rẻ" />
    <meta name="twitter:description"
          content="Nếu nói đến những điểm du lịch cách Hà Nội khoảng 200 km thì có khá nhiều bãi biển khá đẹp và chất, là lựa chọn lý tưởng dành cho du khách vào những ngày cuối tuần, dịp nghỉ lễ..." />
    <meta name="twitter:image" content="https://data.vietnambooking.com/common/logo/banner_logo.jpg" />

    <link rel="canonical" href="" />
    <title>Tour Du Lịch Giá Rẻ trọn gói 2021 | Vietnam Booking</title>
    <meta name="description"
          content="Du lịch giá rẻ - Công ty du lịch Vietnam Booking chuyên tổ chức các tour du lịch giá rẻ trong nước & nước ngoài, Săn khuyến mãi Tour du lịch mới nhất 2020 tại Đại lý uy tín ở Hồ Chí Minh, Đà Nẵng, Hà Nội" />
    <meta name="keywords"
          content="Du lịch giá rẻ, Tour du lịch, book tour du lịch, tour du lịch giá rẻ, Đặt tour du lịch giá rẻ, tour giá rẻ" />



    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/bootstrap/bootstrap.min.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/bootstrap/bootstrap-theme.min.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/bootstrap/bootstrap-theme.min.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/grid/960.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/grid/960.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/jquery_ui/jquery-ui.min.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/jquery_ui/jquery-ui.min.css' />
    @*<link rel='preload' as='style'
              href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.7.2/css/all.min.css' />
        <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.7.2/css/all.min.css' rel='stylesheet' />*@
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel='preload' as='style'
          href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css' rel='stylesheet' />



    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/common/owl.carousel.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/common/owl.carousel.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/common/pushy.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/plugins/common/pushy.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/common/font_custom.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/common/font_custom.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/common/base_custom.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/common/base_custom.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_header.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_header.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_footer.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_footer.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_shortcode.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_shortcode.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_category.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_category.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_flight.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_flight.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_flight_master.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_flight_master.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_hotel.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_hotel.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_tour.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_tour.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_visa.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_visa.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_sidebar.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style_sidebar.css' />
    <link rel='preload' as='style'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style.css' />
    <link rel='stylesheet'
          href='~/Content/wp-content/themes/vietnambooking_master/css/custom/desktop/index/style.css' />
    
    
    
    
    <script type="text/javascript">
        var adminurl = 'https://www.vietnambooking.com/wp-admin/admin-ajax.php';
        var link_current = '/du-lich?fbclid=IwAR0HdpbhIyJCCmMTVjNzPLzNAAdrJQIBylA0T9bR_omB-oVI9jlhwUukXYA';
        var url_link_home = 'https://www.vietnambooking.com';
        var url_link_bloginfo = 'https://www.vietnambooking.com/wp-content/themes/vietnambooking_master';
        var url_home = 'https://www.vietnambooking.com/wp-content/themes/vietnambooking_master';
        var id_post = '38654';
    </script>


    <script id="handleBarsPopularLocationItem" type="text/x-handlebars-template">
        <li> <img src="{{image_url1}}" />  <div class="box-info"> <h4 class="media-heading">{{name}}</h4> <span class="vcolor-primary">{{{description}}}</span> </div> </li>
    </script>
    <script async= async src="https://www.googletagmanager.com/gtag/js?id=UA-106895544-1"></script>
    <script async= async src="https://www.googletagmanager.com/gtag/js?id=AW-748195809"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-523HDNP" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='https://code.jquery.com/ui/1.10.3/jquery-ui.min.js'></script>


    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/jquery_ui/ui.datepicker.lunar.min.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/jquery_ui/amlich.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/bootstrap/bootstrap.min.js'></script>


    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/common/crawler.js'></script>

    <script src='https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js'></script>

    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/common/jquery-scrolltofixed-min.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/common/jquery.countdown.min.js'></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js'></script>

    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/common/jquery.lazy.min.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/common/jquery.newsTicker.min.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/common/jssor.slider.min.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/common/owl.carousel.min.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/common/pushy.min.js'></script>
    
    
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@8.18.3/dist/sweetalert2.all.min.js'></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBAaCzG3gF-9CgHyXApQaVpaQtOANYyRNI'></script>
    <script src='https://cdn.jsdelivr.net/npm/google-maps-infobox@2.0.0/infobox-lib.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/socket/socket.io.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/typeahead.jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mark.js/7.0.0/jquery.mark.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js'></script>


    <script src='~/Content/wp-content/themes/vietnambooking_master/js/plugins/typeahead/publichelper.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/custom/common/google_script.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/custom/common/apps_base.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/custom/desktop/index/apps.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/custom/desktop/index/apps_flight.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/custom/desktop/index/apps_flight_master.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/custom/desktop/index/apps_hotel.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/custom/desktop/index/apps_tour.js'></script>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/custom/desktop/index/apps_visa.js'></script>
    <script src="//static.accesstrade.vn/js/trackingtag/tracking.min.js "></script>
    <script type="text/javascript">
        AT.init({ "campaign_id": 567, "is_reoccur": 1, "is_lastclick": 0 });
        AT.track();
    </script>



    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml"
          title="Dòng thông tin chuyên mục Vietnam Booking &raquo; Du lịch giá rẻ"
          href="" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/www.vietnambooking.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.17" } };
        !function (t, a, e) { var r, i, n, o = a.createElement("canvas"), l = o.getContext && o.getContext("2d"); function c(t) { var e = a.createElement("script"); e.src = t, e.defer = e.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(e) } for (n = Array("flag", "emoji4"), e.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < n.length; i++)e.supports[n[i]] = function (t) { var e, a = String.fromCharCode; if (!l || !l.fillText) return !1; switch (l.clearRect(0, 0, o.width, o.height), l.textBaseline = "top", l.font = "600 32px Arial", t) { case "flag": return (l.fillText(a(55356, 56826, 55356, 56819), 0, 0), e = o.toDataURL(), l.clearRect(0, 0, o.width, o.height), l.fillText(a(55356, 56826, 8203, 55356, 56819), 0, 0), e === o.toDataURL()) ? !1 : (l.clearRect(0, 0, o.width, o.height), l.fillText(a(55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447), 0, 0), e = o.toDataURL(), l.clearRect(0, 0, o.width, o.height), l.fillText(a(55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447), 0, 0), e !== o.toDataURL()); case "emoji4": return l.fillText(a(55358, 56794, 8205, 9794, 65039), 0, 0), e = o.toDataURL(), l.clearRect(0, 0, o.width, o.height), l.fillText(a(55358, 56794, 8203, 9794, 65039), 0, 0), e !== o.toDataURL() }return !1 }(n[i]), e.supports.everything = e.supports.everything && e.supports[n[i]], "flag" !== n[i] && (e.supports.everythingExceptFlag = e.supports.everythingExceptFlag && e.supports[n[i]]); e.supports.everythingExceptFlag = e.supports.everythingExceptFlag && !e.supports.flag, e.DOMReady = !1, e.readyCallback = function () { e.DOMReady = !0 }, e.supports.everything || (r = function () { e.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", r, !1), t.addEventListener("load", r, !1)) : (t.attachEvent("onload", r), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && e.readyCallback() })), (r = e.source || {}).concatemoji ? c(r.concatemoji) : r.wpemoji && r.twemoji && (c(r.twemoji), c(r.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <script type='text/javascript'
            src='~/Content/wb-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript'
            src='~/Content/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <link rel='https://api.w.org/' href='https://www.vietnambooking.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.vietnambooking.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://www.vietnambooking.com/wp-includes/wlwmanifest.xml" />
</head>

<body class='archive category category-du-lich category-6'>
    <canvas id="canvas-snowflake1"
            style="z-index: 5; display: block; position: fixed; bottom: 0; pointer-events: none; background-color: rgba(0,0,0,.01);"></canvas>

    <script>
        function fallingSnow() {
            function a() {
                if (!document.getElementById("canvas-snowflake")) return void clearInterval(c);
                e.clearRect(0, 0, d.width, d.height), e.fillStyle = "rgba(255, 255, 255, 1)", e.beginPath();
                for (var a = 0; i > a; a++) {
                    var g = k[a];
                    if (g.s < o) {
                        var h = Math.max(g.d / i, n / m);
                        e.translate(g.x, g.y), e.rotate(-g.a), e.drawImage(f[0], -m / 2 * h, -m / 2 * h, m * h, m * h), e.rotate(g.a), e.translate(-g.x, -g.y)
                    } else e.moveTo(g.x, g.y), e.arc(g.x, g.y, g.r, 0, 2 * Math.PI, !0)
                }
                e.fill(), b()
            }

            function b() {
                q += .01;
                for (var a = 0; i > a; a++) {
                    var b = k[a];
                    if (b.y += Math.cos(q + b.d) + 1 + b.r / 2, b.x += 2 * Math.sin(q), b.s < o) {
                        var c = Math.max(b.d / i, n / m);
                        b.a += l / c * Math.sin(q)
                    } (b.x > d.width + 5 || b.x < -5 || b.y > d.height) && (a % 3 > 0 ? k[a] = {
                        x: Math.random() * d.width,
                        y: -10,
                        r: b.r,
                        d: b.d,
                        a: b.a,
                        s: b.s
                    } : Math.sin(q) > 0 ? k[a] = {
                        x: -5,
                        y: Math.random() * d.height,
                        r: b.r,
                        d: b.d,
                        a: b.a,
                        s: b.s
                    } : k[a] = {
                        x: d.width + 5,
                        y: Math.random() * d.height,
                        r: b.r,
                        d: b.d,
                        a: b.a,
                        s: b.s
                    })
                }
            }
            var c, d = document.getElementById("canvas-snowflake"),
                e = d.getContext("2d"),
                f = document.getElementsByClassName("snowflake"),
                g = window.innerWidth,
                h = window.innerHeight;
            d.width = g, d.height = h;
            for (var i = 300, j = 0, k = [], l = .05, m = 24, n = 15, o = 15, p = 0; i > p; p++) k.push({
                x: Math.random() * d.width,
                y: Math.random() * d.height,
                r: 2 * Math.random() + 1,
                d: Math.random() * i,
                a: Math.random() * Math.PI,
                s: j++
            });
            var q = 0;
            c = setInterval(a, 33)
        }



    </script>
    <script>fallingSnow();</script> <!-- Pushy Menu -->
    <div id="header-menu-main" class="pushy pushy-left ">
        <div class="header-box-menu">
            <div class="header-box-menu-inner default">
                <nav id="menu" role="navigation">
                    <ul id="menu-menu-main-header" class="ul-menu-header">
                        <li><a href=""><span class="fa fa-home"></span> Trang chủ</a></li>
                        <li id="menu-item-99"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-99">
                            <a href="">Về chúng tôi</a>
                        </li>

                        <li id="menu-item-103"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-103">
                            <a href="@Url.Action("Index", "Tour",  new { id = 0})">Du lịch</a>
                        </li>
                        <li id="menu-item-103"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-103">
                            <a href="@Url.Action("Index", "Tin")">Tin Tức</a>
                        </li>
                        <li id="menu-item-103"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-103">
                            @if (Session["UserName"] != null)
                            {
                            <a style="" href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-cart" ></i>Giỏ Hàng</a>
                            }
                            else
                            {
                            <a style="" href="@Url.Action("Login", "Account")"><i class="fa fa-shopping-cart"></i>Giỏ Hàng</a>

                            }
                        </li>






                    </ul>
                </nav>
            </div>
            <div class="header-box-sub-menu-inner">
                <nav id="header-menu-tours" role="navigation">
                    <ul id="menu-sub-menu-du-lich-header" class="ul-sub-menu-header">
                        <li id="menu-item-149"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149">
                            <a href="@Url.Action("Index", "Tour", new { id = 1})">ĐÀ NẴNG</a>
                        </li>
                        <li id="menu-item-149"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149">
                            <a href="@Url.Action("Index", "Tour", new { id = 2})">HÀ NỘI</a>
                        </li>
                        <li id="menu-item-149"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149">
                            <a href="@Url.Action("Index", "Tour", new { id = 3})">BÀ NÀ</a>
                        </li>
                        <li id="menu-item-149"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149">
                            <a href="@Url.Action("Index", "Tour", new { id = 4})">Huế</a>
                        </li>
                        <li id="menu-item-149"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149">
                            <a href="@Url.Action("Index", "Tour", new { id = 5})">HỘI AN</a>
                        </li>
                        <li id="menu-item-149"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149">
                            <a href="@Url.Action("Index", "Tour", new { id = 6})">PHÚ QUỐC</a>
                        </li>
                        <li id="menu-item-149"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149">
                            <a href="@Url.Action("Index", "Tour", new { id = 7})">VINPEARL LAND</a>
                        </li>

                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <script>APPS.system_info_account();</script>
    <div class="header-box-full-top scroll-active ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="header-box-full-top-inner">
                        <div class="header-box-toggle-menu">
                            <button class="header-btn-toggle-menu">
                                <!--<i class="fa fa-list-ul"></i>-->
                                <img src="https://www.vietnambooking.com/wp-content/themes/vietnambooking_master/images/index/header_icon_bars.png"
                                     alt="search" />
                            </button>
                        </div>
                        <div class="header-box-logo">
                            <a href="">
                                <img src="https://www.vietnambooking.com/wp-content/themes/vietnambooking_master/images/logo_nosub.svg"
                                     alt="VIETNAM BOOKING" />
                            </a>
                        </div>
                        <div class="header-box-list-product">
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                                <li><a href="@Url.Action("Index", "Tour",  new { id = 0})">Tour</a></li>
                                <li><a href="@Url.Action("Index", "Tin")">Tin Tức</a></li>
                                <li><a href="">Thuê Xe</a></li>

                            </ul>
                        </div>
                        <div class="header-box-button-right">
                            <ul>
                                <li>
                                    @*<div class="dropdown account-box-container-button">
                                        @if (Session["UserName"] != null)
                                        {
                                            <a style="color:snow" href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
                                        }
                                        else
                                        {
                                            <a style="color:snow" href="@Url.Action("Login", "Account")"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>

                                        }
                                    </div>*@

                                    <div class="dropdown account-box-container-button">

                                        @if (Session["UserName"] != null)
                                        {
                                            <button onClick="location.href='@Url.Action("Logout", "Account")';"
                                                    class="dropdown-toggle" type="button" id="box-info-account"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                                <span class="box-title-user">Đăng Xuất</span>


                                            </button>
                                        }
                                        else
                                        {
                                            <button onClick="location.href='@Url.Action("Login", "Account")';"
                                                    class="dropdown-toggle" type="button" id="box-info-account"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                                <span class="box-title-user">Đăng nhập</span>


                                            </button>
                                        }

                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    @if (Session["UserName"] != null)
                                    {
                                    <span>
                                        <a class="hotline" href="">
                                            @Session["UserName"]
                                        </a>
                                    </span>
                                    }

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div> <!-- end header-box-full-top -->
    <div class="header-margin-90"></div>
    <div class="clearfix"></div>
    <div id="owl-slider-banner" class="owl-carousel owl-theme">
        <div class="item">
            <div>
                <a target="_blank"
                   href="">
                    <div class="box-banner-default category-box-slider-form catgory-box-slider-form-default"
                         style="background: url(https://www.vietnambooking.com/wp-content/uploads/2021/04/Hè-Toát-Mồ-Hôi-1903x350px.jpg) no-repeat top center;">
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <div>
                <a target="_blank"
                   href="">
                    <div class="box-banner-default category-box-slider-form catgory-box-slider-form-default"
                         style="background: url(https://www.vietnambooking.com/wp-content/uploads/2021/01/Đảo-ngọc-Phú-Quốc.png) no-repeat top center;">
                    </div>
                </a>
            </div>
        </div>


        <div class="item">
            <div>
                <a target="_blank"
                   href="">
                    <div class="box-banner-default category-box-slider-form catgory-box-slider-form-default"
                         style="background: url(https://www.vietnambooking.com/wp-content/uploads/2021/01/Hà-Nội-Mộc-Châu-Mai-Châu-Thác-Dải-Yếm.png) no-repeat top center;">
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <div>
                <a target="_blank"
                   href="">
                    <div class="box-banner-default category-box-slider-form catgory-box-slider-form-default"
                         style="background: url(https://www.vietnambooking.com/wp-content/uploads/2020/07/Đà-Lạt-1903x350.png) no-repeat top center;">
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="frontpage-box-form">
        <div class="container_12">
            <div class="grid_12">
                <div class="frontpage-box-form-inner">
                    <div class="frontpage-icon-plane-animate">
                        <img src="https://www.vietnambooking.com/wp-content/themes/vietnambooking_master/images/index/front_page_icon_plane.png" />
                    </div>
                    <div class="frontpage-box-tabs-form">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs hidden" role="tablist">
                            <li role="presentation">
                                <a href="#form-flights" aria-controls="form-flights" role="tab" data-toggle="tab">
                                    <i class="fa fa-plane"></i> Vé máy bay
                                </a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#form-tour" aria-controls="form-tour"
                                   role="tab" data-toggle="tab"><i class="fas fa-umbrella"></i>Du lịch</a>
                            </li>
                            <li role="presentation">
                                <a href="#form-hotel" aria-controls="form-hotel" role="tab"
                                   data-toggle="tab"><i class="fas fa-hotel"></i>Khách sạn</a>
                            </li>
                            <li role="presentation">
                                <a href="#form-visa" aria-controls="form-visa" role="tab"
                                   data-toggle="tab"><i class="fas fa-passport"></i>Visa</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="form-tour">
                                
                                    @using (Html.BeginForm("Index", "Search", FormMethod.Post))
                                    {
                                        <div class='box-form-tour-inner page-child'>

                                            <div class="box-search-tour">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <label for="search-tour-text">Nhập địa điểm bạn muốn đến</label>
                                                <input type="text" placeholder="Tour, Blog, Địa điểm du lịch"
                                                       id="search-tour-text" class="search-tour-text form-control typeahead" name="tourname" />
                                                <div class="box-button-tour">
                                                    <input type="submit" value="Tìm kiếm" style="padding:12px 40px 12px 40px; margin-top:20px; background-color:orange;color:white;border-radius:4px">
                                                        
                                                    </input>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                
  

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    @RenderBody()





    <footer>

        <div class="footer-box-middle middle-1">
            <div class="container">
                <div class="col-lg-12 col-md-12">
                    <div class="footer-box-menu">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <div class="title-contact-us">Liên hệ với chúng tôi <span>(Hỗ trợ 24/7)</span></div>
                                    <ul class="footer-ul-hotline">
                                        <li>
                                            <i class="fas fa-phone-alt"></i> Đặt vé máy bay: <a href="tel:19004798">1900 4798</a>
                                        </li>

                                        <li>
                                            <i class="fas fa-phone-alt"></i> Đặt Tour du lịch: <a href="tel:19003398">1900 3398</a>
                                        </li>

                                        <li>
                                            <i class="fas fa-phone-alt"></i> Đặt phòng khách sạn: <a href="tel:19004698">1900 4698</a>
                                        </li>

                                        <li>
                                            <i class="fas fa-phone-alt"></i> Tư vấn xin Visa: <a href="tel:19003498">1900 3498</a>
                                        </li>
                                        <li>
                                            <div>Tổng đài hỗ trợ gọi từ nước ngoài về Việt Nam</div>
                                            <img src="https://data.vietnambooking.com/common/icon/icon_flag_vn.png"
                                                 alt="flag vn" /> <a href="tel:02873036167"> +8428 7303 6167 </a>
                                        </li>
                                    </ul>
                                </td>

                                <td>
                                    <div class="title-box">
                                        <h4>Về chúng tôi</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href=''>
                                                <h5>Giới thiệu</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Liên hệ</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Truyền thông</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Các đơn vị hợp tác</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Chính sách bảo mật</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Điều khoản sử dụng</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                                <td style="width: 160px;">
                                    <div class="title-box">
                                        <h4>Sản phẩm</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href=''>
                                                <h5>Vé máy bay</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Tour Du lịch</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Đặt khách sạn</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Combo tiết kiệm</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Visa</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Cách đặt chỗ</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="title-box">
                                        <h4>Khác</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href=''>
                                                <h5>Tuyển dụng</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Xem lại đơn hàng</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Hướng dẫn thanh toán</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Chăm sóc khách hàng</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Đăng ký nhận bản tin</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=''>
                                                <h5>Đăng ký đối tác</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <div class="footer-box-logo">
                                        <a href="">
                                            <img class="lazy"
                                                 src="https://data.vietnambooking.com/common/svg/icon_img_default.svg"
                                                 data-src="https://data.vietnambooking.com/common/svg/logo_white.svg"
                                                 alt="vietnam booking" />
                                        </a>
                                    </div>
                                </td>
                                <td colspan="3" style="padding-bottom: 20px;">
                                    <div class="footer-box-address-official">
                                        <table>
                                            <tr>
                                                <td><span><i class='fa fa-map-marker-alt'></i> HỒ CHÍ MINH</span></td>
                                                <td>
                                                    <i class='fas fa-circle'></i> <a href='https://goo.gl/maps/RDdqtSPzbkfpsg7S6'
                                                                                     target='_blank'>
                                                        190-192 Trần Quý, Phường 6, Quận 11, Tp. Hồ Chí
                                                        Minh
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <i class='fas fa-circle'></i> <a href='https://g.page/vietnam-booking?share' target='_blank'>
                                                        54
                                                        Phạm Hồng Thái, Bến Thành, Quận 1, Tp. Hồ Chí Minh
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <i class='fas fa-circle'></i> <a href='https://goo.gl/maps/hH6fnY1MgzGAdH2z7' target='_blank'>
                                                        164
                                                        Lê Thánh Tôn, Phường Bến Thành, Quận 1, TP. Hồ Chí Minh
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span><i class='fa fa-map-marker-alt'></i> HÀ NỘI</span></td>
                                                <td>
                                                    <i class='fas fa-circle'></i> <a href='https://goo.gl/maps/iRUGbUpyzrYCj7Ve9' target='_blank'>
                                                        30
                                                        Phan Chu Trinh, Quận Hoàn Kiếm, TP. Hà Nội
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span><i class='fa fa-map-marker-alt'></i> ĐÀ NẴNG</span></td>
                                                <td>
                                                    <i class='fas fa-circle'></i> <a href='https://goo.gl/maps/ZTcXvQv8p5xd1Yy28' target='_blank'>
                                                        174
                                                        Nguyễn Văn Linh, Quận Thanh Khê, TP. Đà Nẵng
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <div class="footer-social-footer">
                                        <a target="_blank" rel="nofollow"
                                           href="">
                                            <img src="https://data.vietnambooking.com/common/icon/social/icon_facebook_white.png"
                                                 alt="Facebook" />
                                        </a>
                                        <a target="_blank" rel="nofollow"
                                           href="">
                                            <img src="https://data.vietnambooking.com/common/icon/social/icon_youtube_white.png"
                                                 alt="youtube" />
                                        </a>
                                        <a target="_blank" rel="nofollow"
                                           href="">
                                            <img src="https://data.vietnambooking.com/common/icon/social/icon_instagram_white.png"
                                                 alt="Instagram" />
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="footer-box-registered-ecommerce">
                                        <a target="_blank" rel="nofollow"
                                           href="">
                                            <img src="https://data.vietnambooking.com/common/icon/icon_bo_cong_thuong.png"
                                                 alt="ios" />
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </footer>


    <div id="back-top-wrapper" class="btn-vietnambooking" style="display: none;">
        <a href="javascript:void(0);">
            <img class="lazy"
                 src="https://data.vietnambooking.com/common/svg/icon_img_default.svg"
                 data-src="https://www.vietnambooking.com/wp-content/themes/vietnambooking_master/images/backtotop.png"
                 alt="top" />
        </a>
    </div>
    <script src='~/Content/wp-content/themes/vietnambooking_master/js/custom/common/footer_script.js'></script>

    <script>
        $(document).ready(function () {
            APPS_BASE.base_onesingal_segment_page_visit({ topic: "os_tour" });
        });
    </script>
</body>



<script type='text/javascript' src='~/Content/wb-includes/js/wp-embed.min.js'></script>

<script type='text/javascript' src='~/Content/wp-includes/js/wp-embed.min.js'></script>

</html>

<script>var post_id = 334563; APPS.post_count_views(post_id);</script>