@model TravelTour.Models.Tour

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/share/AdminLayout.cshtml";
}

<style>
    table {
        text-align: center;
        border-top: 1px solid black;
    }

        table dt dd {
            text-align: center;
            vertical-align: middle;

        }
    .dl-horizontal {
        font-size: large
    }
</style>

<div>
    <h4>Chi Tiết Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TourCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.Raw(Model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image1)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Image1)*@

            @{
                String ImagePath = "~/image/" + Model.Image1;
            }
            <img src="@Url.Content(ImagePath)" width="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image2)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Image2)*@

            @{
                String ImagePath2 = "~/image/" + Model.Image2;
            }
            <img src="@Url.Content(ImagePath2)" width="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.newPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.TourCode }) |
    @Html.ActionLink("Trở Về", "Index")
</p>
