@model IEnumerable<TravelTour.Models.Passenger>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/share/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passport_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Booking.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passport_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PassID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PassID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PassID })
        </td>
    </tr>
}

</table>
