@model IEnumerable<WebApplication8.Models.HOCSINH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHocSInh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOPHOC.TenLop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHocSInh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOPHOC.TenLop)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHocSinh }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHocSinh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHocSinh })
        </td>
    </tr>
}

</table>
